<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>detail</title>
</head>

<body>
    <div class="menu-wrapper">
        <!-- メニュー開閉用のチェックボックス -->
        <input type="checkbox" id="menu-toggle" hidden>

        <!-- ハンバーガーボタン -->
        <label class="menu-icon" for="menu-toggle">
            <!-- //三本線 -->
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="overlay"></div>

        <nav class="menu">
            <ul>
                <!-- //項目が三つ -->
                <li><a href="/blogs">Home</a></li>
                <li><a href="/blogs/new">New Post</a></li>
                <li><a href="/blogs/profile">profile</a></li>
            </ul>
        </nav>
    </div>
     <h1>Blog</h1>
    <hr><hr>
    <h1>detail</h1>


    <div class="details">
        <h1 th:text="${blog.name}"> </h1>
        <hr>
        <p th:text="${blog.title}"></p>
        <p th:text="${blog.text}"></p>
    </div>

</body>

</html>