<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>profile</title>
</head>

<body>
    <div class="menu-wrapper">
        <input type="checkbox" id="menu-toggle" hidden>

        <label class="menu-icon" for="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="overlay"></div>

        <nav class="menu">
            <ul>
                <li><a href="/blogs">Home</a></li>
                <li><a href="/blogs/new">New Post</a></li>
                <li><a href="/blogs/profile">profile</a></li>
            </ul>
        </nav>
    </div>

     <h1>Blog</h1>
    <hr><hr>
    <h1>profile</h1>
    <h1>藤村健琉</h1>
    <hr>
    <p>福岡情報ビジネスセンター</p>
    <p>福岡大学出身</p>
    <p>地元：山口県</p>
    <div class="yubisasi">
        <img src="/image/yubisasi.JPG" alt="画像">
    </div>
</body>

</html>